.containerCardapio {
  padding: 20px;
  background-color: #ccdabe;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.tituloCardapio {
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
  color: #285528;
  text-align: center;
  margin-bottom: 30px;
}
.containerCardCardapio {
  display: flex;
  justify-content: center;
}
.cardCardapio {
  background-color: #f9f9f9;
  border-radius: 10px;
  /* padding: 20px; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 30px;
  width: 300px;
  height: 400px;
  text-align: center;
}
.tituloCardCardapio {
  background-color: #add188;
  height: 200px;
  align-content: center;
  /* border-radius: 10px; */
  font-family: Arial, Helvetica, sans-serif;
}
.tituloCardCardapio h1 {
  font-weight: lighter;
  font-size: 25px;
  color: #285528;
}
.botaoCardapio {
  width: 95%;
  height: 50px;
  margin-top: 20px;
  background-color: #285528;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  font-weight: bold;
}
.descricaoCardapio {
  font-family: Arial, Helvetica, sans-serif;
}
.nomeCardapio {
  font-weight: lighter;
  color: #285528;
}
.paragrafoCardapio {
  font-size: 15px;
}
.precoCardapio {
  color: rgb(226, 5, 5);
  font-weight: bold;
  font-size: 17px;
}
.precoBotao {
  margin-top: 20px;
}
