.containerCerejadobolo {
  padding: 20px;
  background-color: #ccdabe;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, Helvetica, sans-serif;
}
.tituloCerejadobolo {
  font-size: 2.2em;
  color: #285528;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 40px;
}
.containerCardsCerejadobolo {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.cardCerejadobolo {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  height: 370px;
  padding: 10px 10px 20px 10px;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
}
.precoBotao {
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.precoCerejadobolo {
  font-size: 1.1em;
  color: rgb(226, 5, 5);
  font-weight: bold;
}
.botaoCerejadobolo {
  background-color: #285528;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
  width: 90%;
  margin-top: 20px;
}
.imagemCerejadobolo img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}
