.containerFooter {
  background-color: #285528;
  color: #ffffff;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  margin-top: 0px;
  font-size: 0.9em;
  font-family: Arial, Helvetica, sans-serif;
}
.tituloFooter {
  font-size: 1.5em;
  margin-bottom: 10px;
  font-weight: bold;
}
.enderecoFooter {
  margin-bottom: 40px;
}
