.containerInicio {
  height: 350px;
  background-color: #ccdabe;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.tituloInicio {
  color: #285528;
  font-size: 2.5em;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
  font-weight: lighter;
}
.paragrafoInicio {
  color: #555555;
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 600px;
}
.botaoInicio {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #285528;
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 1em;
  cursor: pointer;
}
