.containerSobre {
    background-color: #f9f9f9;
    padding: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.tituloSobre {
    color: #285528;
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: bold;
}
.primeiroP, .segundoP {
    color: #555555;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
    text-align: justify;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.containerParagrafos{
    display: flex;
    text-align: center;
    color: #555555;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    margin-top: 30px;
}
