.containerVantagens {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: #ffffff;
}
.tituloVantagens {
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
  color: #285528;
  margin-bottom: 30px;
}
.tituloCard {
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
  color: #618f61;
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: lighter;
}
.paragrafoVantagens {
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  color: #555555;
  text-align: center;
}
.containerCards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}
.cardVantagens {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: 250px;
}
